.user-form {
	width: 500px;
	padding-top: 40px;
	margin: 0 auto;
	margin-bottom: 20px;

	&__item {
		margin-bottom: 20px;
		border-bottom: 1px solid rgba(0,0,0, 0.1);

		& > svg {
			margin-top: 21px;
			margin-right: 20px;
		}

		&-soc {
			display: flex !important; //TODO: delete all importants!!
			flex-direction: row !important;
			align-items: center !important;
			justify-content: space-between !important;
		}
	}
}

.mb-2 {
	margin-bottom: 20px;
}

.socialList {
	&-block {
	width: 100%;
	}

	&-delete {
		cursor: pointer;
	}

	&-button {
		margin-bottom: 20px;
		margin-top: 14px; 
		display: flex; 
	}
}

div.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
	margin-bottom: 14px;
}

div.css-1480iag-MuiInputBase-root-MuiInput-root {
	width: 200px;
}