.LoginForm {
  &-container {
    width: 300px;
  }

  &--form {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 270px;
    margin: 0 auto;

    & div {
      margin-top: 10px;
    }
  }

  &--error {
    color: red;
    text-align: center;
  }
}

// overrides
button.LoginForm--button {
  margin-top: 10px;
}